div
  nav.navbar.navbar-dark.bg-dark.fixed-top.navbar-expand-lg
    a.navbar-brand(href='#/view1') basicMEAN
    // Brand and toggle get grouped for better mobile display
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon

    // Collect the nav links, forms, and other content for toggling
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item(ng-repeat="view in navbar.data.left.public"
            class="{{(navbar.$state.is(view.uiRouterState))? 'active' : ''}}")
          a.nav-link(ui-sref='{{view.uiRouterState}}') {{view.displayName}}

        if user
          li.nav-item(ng-repeat="view in navbar.data.left.protected"
              class="{{(navbar.$state.is(view.uiRouterState))? 'active' : ''}}")
            a.nav-link(ui-sref='{{view.uiRouterState}}') {{view.displayName}}

        li.nav-item(ng-show='navbar.loading')
          a.nav-link.disabled(href='')
            i.fa.fa-refresh.fa-lg.text-info(class="{{navbar.loading? 'fa-spin' : ''}}")

      ul.navbar-nav.navbar-right
        li.nav-item(ng-repeat="view in navbar.data.right.public"
            class="{{(navbar.$state.is(view.uiRouterState))? 'active' : ''}}")
          a.nav-link(ui-sref='{{view.uiRouterState}}') {{view.displayName}}
        if !user
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='/login', data-toggle='dropdown')
              | Log In
              span.caret
            .dropdown-menu.dropdown-menu-right(style='width: 300px; ', role='menu')
              .col-lg-12(ng-include="'partials/navbar/login-form'")
          li.nav-item
            a.nav-link
          li.nav-item
            .navbar-form(role='alertdialog')
              a.btn.btn-success.btn-outline(href='', data-toggle='modal', data-target='#signup-modal')
                i.fa.fa-lock
                |  Sign Up
        else
          li.nav-item(ng-repeat="view in navbar.data.right.protected"
              class="{{(navbar.$state.is(view.uiRouterState))? 'active' : ''}}")
            a.nav-link(ui-sref='{{view.uiRouterState}}') {{view.displayName}}
          li.nav-item
            a.nav-link
          li.nav-item
            .navbar-form
              a.btn.btn-outline-warning(href='authenticate/logout')
                |  Log Out

  div(ng-include="'partials/navbar/signup-modal'")

